In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Task 2.2. Data.csv", index_col = "Gene Name")

In [3]:
dataset

           Patient 1  Patient 2
Gene Name
TP53           0.050      0.048
TNF            0.270      0.280
EGFR           0.019      0.017
VEGFA          0.070      0.065
APOE           0.500      0.540
IL6            0.064      0.070
TGFB1          0.890      0.910
MTHFR          0.093      0.095
ESR1           0.600      0.640
AKT1           0.047      0.050
APC            0.100      0.120
BDNF           0.390      0.410
CFTR           0.220      0.260
SRY            0.127      0.130
RHO            0.450      0.420
CRH            0.800      0.880
ASPM           0.067      0.070
IL2            0.980      0.970
CD4            0.046      0.044
CXCR4          0.410      0.390

In [ ]:
genes = ["TP53", "CD4", "BDNF", "APC"]

In [4]:
filt = (dataset["Patient 1"] >= 0.5) | (dataset["Patient 2"] >= 0.5)

In [5]:
dataset.loc[filt]

           Patient 1  Patient 2
Gene Name
APOE            0.50       0.54
TGFB1           0.89       0.91
ESR1            0.60       0.64
CRH             0.80       0.88
IL2             0.98       0.97