In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame({"x" : [1, 3, 5, 7], "y" : [2, 4, 6, 8]})

In [ ]:
df1

In [ ]:
# 1.1. append single row of data into dataframe
pd.concat([df1, pd.DataFrame([{ 'x': 9, "y" : 10}])])

In [ ]:
# 1.2. append new dataframe into existing dataframe
df2 = pd.DataFrame({"x" : [11, 13, 15, 17], "y" : [12, 14, 16, 18]})
new_df = pd.concat([df1, df2], ignore_index = True)
new_df

In [ ]:
# 2.1. sort dataframe (ascending)
new_df.sort_index()

In [ ]:
# 2.2. sort dataframe (descending)
new_df.sort_index(ascending = False)

In [ ]:
# 3.1. filtering dataframe (double digits)
double_digits = (new_df["x"] >= 10) | (new_df["y"] >= 10)
new_df.loc[double_digits]

In [ ]:
# 3.2. filering dataframe (single digits)
single_digits = (new_df["x"] < 10) | (new_df["y"] < 10)
new_df.loc[single_digits]

In [ ]:
# 4. create empty dataframe
empty_df = pd.DataFrame()

In [ ]:
# 5. write function that takes in 4 int variables and append into dataframe
people_details = {
    "name" : ["Jane Doe", "Peter Smith", "Morgan Green"],
    "height" : ["170", "189", "167"],
    "weight" : ["60", "75", "59"],
    "age" : ["23", "25", "20"]
}
df3 = pd.DataFrame(people_details)
df3

In [ ]:
df3.set_index("name", inplace = True)

In [ ]:
df3

In [ ]:
def people_details(name, height, weight, age):
    df3 = pd.DataFrame(people_details)
    people_df = pd.DataFrame({"name" : "", "height" : "", "weight" : "", "age" : ""})
    return pd.DataFrame(people_details)

In [ ]:
people_details("Amy", 163, 55, 21)

In [ ]:
def people_details(name, height, weight, age):
    people_details = {
        "name" : "Name: ", #["Jane Doe", "Peter Smith", "Morgan Green"],
        "height" : "Height: ", #["170", "189", "167"],
        "weight" : "Weight: ", #["60", "75", "59"],
        "age" : "Age: " #["23", "25", "20"]
    }
    df3 = pd.DataFrame(people_details)
    df3.set_index("name", inplace = True)
    df3_new = pd.concat([df3, pd.DataFrame(people_details)])
    return df3_new

In [ ]:
people_details = {
        "name" : "Name: ", #["Jane Doe", "Peter Smith", "Morgan Green"],
        "height" : "Height: ", #["170", "189", "167"],
        "weight" : "Weight: ", #["60", "75", "59"],
        "age" : "Age: " #["23", "25", "20"]
    }
df3 = pd.DataFrame([people_details])

In [ ]:
df3

In [ ]:
name = "Amy" #input("Name: ")
height = "163" #input("Height: ")
weight = "55" #input("Weight: ")
age = "21" #input("Age: ")
print(people_details)

In [ ]:
# 5 (ChatGPT)
def people_data(name, height, weight, age):
    series1 = pd.Series(name)
    series2 = pd.Series(height)
    series3 = pd.Series(weight)
    series4 = pd.Series(age)
    
    df = pd.concat([series1, series2, series3, series4], axis = 1)
    
    return df

In [ ]:
people_data("Amy", 162, 55, 21)

In [ ]:
# 5 (attempt 2)
empty_df = pd.DataFrame()
def people(empty_df, name, age, height, weight):
    people = {
        "name" : [name],
        "age" : [age],
        "height" : [height],
        "weight" : [weight]
    } 
    #people = pd.DataFrame(people)
    df = pd.concat([empty_df, pd.DataFrame(people)], axis = 0)
    df.set_index("name", inplace = True)
    
    return df

In [ ]:
people(empty_df, "Amy", 21, 55, 162)

In [ ]:
people(empty_df, "Ben", 50, 60, 175)

In [ ]:
# 5 (attempt 3)
def concatenate_row(df, new_row_data):
    new_row = pd.DataFrame([new_row_data], columns=df.columns)
    people = {
        "name" : [name],
        "age" : [age],
        "height" : [height],
        "weight" : [weight]
    } 
    df = pd.concat([df, new_row], ignore_index=True)
    return df

In [ ]:
# 5 (ChatGPT attempt 2)
def people_data(name, height, weight, age):
    series1 = pd.Series(name)
    series2 = pd.Series(height)
    series3 = pd.Series(weight)
    series4 = pd.Series(age)
    
    df = pd.concat([series1, series2, series3, series4], axis = 1)
    df.set_index("name", inplace = True)
    
    return df

In [ ]:
people("Amy", 21, 55, 162)

In [ ]:
# 5 (attempt 3)
#empty_df = pd.DataFrame()
def people(empty_df, name, age, height, weight):
    new_row = {
        "name" : [name],
        "age" : [age],
        "height" : [height],
        "weight" : [weight]
    }
    df = pd.concat([empty_df, pd.DataFrame(new_row)], axis = 0)
    df.set_index("name", inplace = True)
    return df

In [ ]:
empty_df = pd.DataFrame()
empty_df = people(empty_df, "Amy", 21, 55, 162)
empty_df = people(empty_df, "Alice", 30, 165, 60)
empty_df = people(empty_df, "Bob", 35, 175, 80)
print(empty_df)

In [ ]:
def people(empty_df, name, age, height, weight):
    new_row = {
        "name": [name],
        "age": [age],
        "height": [height],
        "weight": [weight]
    }

    df = pd.concat([empty_df, pd.DataFrame(new_row)], axis = 0)
    df.set_index("name", inplace=True)

    return df

In [ ]:
# Example usage
empty_df = pd.DataFrame()
empty_df = people(empty_df, "John", 25, 180, 75)
empty_df = people(empty_df, "Alice", 30, 165, 60)
empty_df = people(empty_df, "Bob", 35, 175, 80)

print(empty_df)

In [ ]:
empty_df = pd.DataFrame()

In [ ]:
def people(empty_df, name, age, height, weight):
    people = {
        "name" : [name],
        "age" : [age],
        "height" : [height],
        "weight" : [weight]
    }
    df = pd.concat([empty_df, pd.DataFrame(people)], ignore_index = True, axis = 0)
    df = df.set_index(["name"])
    return df

In [ ]:
John = people(empty_df, "John", 25, 180, 75)
print(John)

In [ ]:
Alice = people(John, "Alice", 30, 165, 60)
print(Alice)

In [ ]:
Bob = people(Alice, "Bob", 30, 165, 60)
Bob.set_index("name", inplace = True)

In [ ]:
print(Bob)