In [33]:
# in standard/native python (not NB, just putting it in to make it easier to conceptualise)
person = {
    "first": "Corey",
    "last": "Schafer",
    "email": "CoreyMSchafer@gmail.com"
}

In [34]:
people = {
    "first": ["Corey"],
    "last": ["Schafer"],
    "email": ["CoreyMSchafer@gmail.com"]
}

In [35]:
# can think of this as rows and columns - the keys are the columns and the values are the rows
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [36]:
people["email"]

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [37]:
import pandas as pd

In [38]:
# converting python dictionary to dataframe
df = pd.DataFrame(people)

In [39]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [40]:
# accessing a single column
df["email"]
# or can use df.email but not suggested

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [41]:
type(df["email"])

pandas.core.series.Series

In [42]:
# accessing multiple columns, [[]] used to access list of columns
df[["last", "email"]]
# passing multiple columns here so this is no longer a series - this is just returning a dataframe

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [43]:
# if there are a lot of columns and want to see them easily
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [44]:
# to get first row
df.iloc[0]
# returns a series that contains the values of the first row of the data

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [45]:
# returns two rows
df.iloc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [46]:
# returns two rows and third column
df.iloc[[0, 1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [47]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [48]:
# to get first row
df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [49]:
# returns two rows
df.loc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [50]:
# returns two rows and the "email" column
df.loc[[0, 1], "email"]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [51]:
# returns the "email" and "last" columsn for the specificed rows (0 and 1)
df.loc[[0, 1], ["email", "last"]]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe