In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [6]:
df["last"] == "Doe"

0    False
1     True
2     True
Name: last, dtype: bool

In [8]:
filt = (df["last"] == "Doe") # can't use "filter" becuase it's a built-in keyword

In [10]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [11]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [12]:
df.loc[filt, "email"]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [13]:
filt= (df["last"] == "Doe") & (df["first"] == "John")

In [14]:
df.loc[filt, "email"]

2    JohnDoe@email.com
Name: email, dtype: object

In [15]:
filt= (df["last"] == "Schafer") | (df["first"] == "John")

In [16]:
df.loc[filt, "email"]

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [19]:
filt = (df["last"] == "Schafer") | (df["first"] == "John")

In [20]:
df.loc[~filt, "email"]

1    JaneDoe@email.com
Name: email, dtype: object