In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [6]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [7]:
df.columns = ["first_name", "last_name", "email"]

In [8]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [9]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [10]:
df.columns = df.columns.str.replace(" ", "_")
df

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [11]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [12]:
df.rename(columns = {"first_name" : "first", "last_name" : "last"})

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [13]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [14]:
df.rename(columns = {"first_name" : "first", "last_name" : "last"}, inplace = True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [15]:
df.loc[2] = ["John", "Smith", "JohnSmith@email.com"]

In [16]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [17]:
df.loc[2, ["last", "email"]] = ["Doe", "JohnDoe@email.com"]

In [18]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [19]:
df.loc[2, "last"] = "Smith"
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [21]:
df.at[2, "last"] = "Doe"
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [24]:
filt = (df["email"] == "JohnDoe@email.com")
df[filt]

  first last              email
2  John  Doe  JohnDoe@email.com

In [25]:
filt = (df["email"] == "JohnDoe@email.com")
df[filt]["last"]

2    Doe
Name: last, dtype: object

In [28]:
filt = (df["email"] == "JohnDoe@email.com")
df[filt]["last"] = "Smith"

C:\Users\HP\AppData\Local\Temp\ipykernel_20348\3469583708.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]["last"] = "Smith"

In [26]:
filt = (df["email"] == "JohnDoe@email.com")
df.loc[filt, "last"] = "Smith"

In [27]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [29]:
df["email"].str.lower()

0    coreymschafer@gmail.com
1          janedoe@email.com
2          johndoe@email.com
Name: email, dtype: object

In [30]:
df["email"] = df["email"].str.lower()

In [31]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [32]:
df["email"].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [33]:
def update_email(email):
    return email.upper()

In [34]:
df["email"].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [36]:
df["email"] = df["email"].apply(update_email)

In [37]:
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [38]:
df["email"] = df["email"].apply(lambda x: x.lower())

In [39]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [40]:
df["email"].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [41]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [42]:
len(df["email"])

3

In [43]:
df.apply(len, axis = "columns")

0    3
1    3
2    3
dtype: int64

In [44]:
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [45]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [46]:
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [47]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith        johndoe@email.com

In [48]:
df["first"].map({"Corey" : "Chris", "Jane" : "Mary"})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [49]:
df["first"].replace({"Corey" : "Chris", "Jane" : "Mary"})

0    Chris
1     Mary
2     John
Name: first, dtype: object

In [51]:
df["first"] = df["first"].replace({"Corey" : "Chris", "Jane" : "Mary"})

In [52]:
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com